.main,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divlivraison{
    text-align: center;
    background-color: #CCA000;
    font-weight: bold;  
    font-style: italic;   
    font-size: 20px;
    
}
.divlogo{
    background-color: #000814;
}
.p{
    color: aliceblue;
}
